        <header>
                <div class="banner">
                        <img id="logo" src="images/TR_logo250_1.png" alt="Tenacious Raccoon logo" width="85" height="55">
                        <h1 id="banner-text">Timothy Rutkowski's Tenacious Raccoon | WEB250 </h1>
                </div>
                        <nav>
                                <ul id="tail">
                                        <li class="tail-stripe-one"><a href="#index.html">Home</a></li>
                                        <li class="tail-stripe-two"><a href="#introduction.html">Introduction</a></li>
                                        <li class="tail-stripe-one"><a href="#contract.html">Course Contract </a></li>
                                        <li class="tail-stripe-two"><a href="#brand.html">Brand Guidelines</a></li>
                                </ul>
                        </nav>
        </header>
