html {
  background-color: #f8f5d5;
  color: #161508;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/*BODY STYLES*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

  /*NAV STYLES*/
  nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li a {
    text-decoration: none;
  }

  /*FOOTER STYLES*/
  footer ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  footer ul li {
    list-style-type: none;
  }

  footer ul li a {
    text-decoration: none;
  }
