/*COLOR PALLETTE
  Main Background: #ebe3e1
  Main Font: #1c1918
  Main Link: #451606
  Main Hover: #993210
  
Dark Backgrounds: #241c1a
  Light Fonts: #d9cdca
  Light Hovers: #f2e7e4
  
Light Backgrounds: #d9cdca
  Dark Fonts: #241c1a
  Dark Hovers: #6e544e
*/

html {
  background-color: #ebe3e1;
  color: #1c1918;
  font-family: "Economica", serif;
  margin: 0;
  padding: 0;
}

/*FONT STYLES*/
.economica-regular {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: normal;
}

.economica-bold {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: normal;
}

.economica-regular-italic {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: italic;
}

.economica-bold-italic {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: italic;
}

/*BODY STYLES*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

  /*HEADER STYLES*/
header {
  background-color: #d9cdca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  box-shadow: 0 4px 6px #241c1a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .banner-left {
    display: flex;
    align-items: flex-end;
  }

  #banner-text {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 10px;
  }

  #logo {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .external-sites-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    font-weight: bold; 
    background-color: #241c1a;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0.0,0.15);
  }

  .dropdown-button {
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    padding: 10px;
    color: #d9cdca;
  }

  .dropdown-button:hover {
    color: #f2e7e4;
  }

  .dropdown-content {
    display:none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 9999;
    border: 1px solid #ccc;
  }

  .dropdown-content a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }

  .external-sites-dropdown:hover .dropdown-content {
    display: block;
  }

  /*NAV STYLES*/
  .sidebar {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    position: sticky;
    top: 0;
    margin-left: 10px;
    box-shadow: 4px 0 8px #241c1a;
    border-radius: 10% 10% 30% 30%;
  }

    #tail ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#tail li {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  transition: transform 0.2 ease, background-color 0.2s ease;
}

.tail-stripe-one {
  background-color: #d9cdca;
  color: #9c9391;
}

  .tail-stripe-one a {
    text-decoration: none;
    color: #241c1a;
  }

  .tail-stripe-one a:hover {
    color: #6e544e;
    transform: scale(1.1);
    cursor: pointer;
  }

.tail-stripe-two {
  background-color: #241c1a;
}

.tail-stripe-two a {
  text-decoration: none;
  color: #d9cdca;
}

.tail-stripe-two a:hover {
  color: #f2e7e4;
  transform: scale(1.1);
  cursor: pointer;
}

/*MAIN STYES*/
main {
  flex: 1;
  padding: 20px;
  font-size: 1.75em;
  margin: 0;
  overflow: auto;
}

h2 {
  text-align: center;
}

.home-text {
  margin: 15px 50px;
  padding: 0;
}

.home-text a { 
  text-decoration: none;
  color: #451606;
}

.home-text a:hover {
  color: #993210;
}

/*FOOTER STYLES*/
footer {
  background-color: #241c1a;
  box-shadow: 0 -4px 6px #241c1a;
  width: 100vw;
  height: 10vh;
  margin-top: auto;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 15px 0;
}

footer ul li {
  list-style-type: none;
  font-size: 1.25em;
}

footer ul li a {
  text-decoration: none;
  color: #d9cdca;
}

footer ul li a:hover {
  color: #f2e7e4;
}

footer p {
  font-size: 1.25em;
  color: #d9cdca;
  text-align: center;
}

footer p a {
  color: #d9cdca;
}

footer p a:hover {
  color: #f2e7e4;
}

/*INTRODUCTION STYLES*/
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

figcaption {
  margin-top: 15px;
}

.intro-text {
  margin: 50px;
  padding: 0;
}

.intro li {
  margin-top: 20px;
}

/*COURSE CONTRACT STYLES*/
.contract-text {
  margin: 50px;
}

.contract-text a {
  text-decoration: none;
  color: #451606;
}

.contract-text a:hover {
  color: #993210;
}

/*SECTION STYLES*/
#home {
  margin: 35px;
  padding: 25px;
  background-color: #d9cdca;
  border-radius: 12px;
  box-shadow: 0px 10px 15px #241c1a, 0px 4px 6px #d9cdca;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#home:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px #241c1a, 0px 8px 10px #d9cdca;
}

#intro {
  margin: 35px;
  padding: 25px;
  background-color: #d9cdca;
  border-radius: 12px;
  box-shadow: 0px 10px 15px #241c1a, 0px 4px 6px #d9cdca;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#intro:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px #241c1a, 0px 8px 10px #d9cdca;
}

#contract {
  margin: 35px;
  padding: 25px;
  background-color: #d9cdca;
  border-radius: 12px;
  box-shadow: 0px 10px 15px #241c1a, 0px 4px 6px #d9cdca;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contract:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px #241c1a, 0px 8px 10px #d9cdca;
}
