/*COLOR PALLETTE
  Main Background: #ebe3e1
  Main Font: #1c1918
  
Dark Backgrounds: #241c1a
  Light Fonts: #d9cdca
  Light Hovers: #f2e7e4
  
Light Backgrounds: #d9cdca
  Dark Fonts: #241c1a
  Dark Hovers: #6e544e
*/

html {
  background-color: #ebe3e1;
  color: #1c1918;
  font-family: "Economica", serif;
  margin: 0;
  padding: 0;
}

/*FONT STYLES*/
.economica-regular {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: normal;
}

.economica-bold {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: normal;
}

.economica-regular-italic {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: italic;
}

.economica-bold-italic {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: italic;
}

/*BODY STYLES*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

  /*HEADER STYLES*/
header {
  background-color: #d9cdca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  box-shadow: 0 4px 6px #241c1a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

  .banner {
    display: flex;
    padding: 0;
    margin: 0 50px;
  }

  #banner-text {
    margin: 25px 0;
  }

  #logo {
    margin: 15px 15px 0 0;
  }

  /*NAV STYLES*/

   nav {
    display: flex;
    justify-content: center;
  }

    #tail {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0 6px 10px #241c1a;
  }

#tail li {
  width: 10vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.tail-stripe-one {
  background-color: #d9cdca;
  color: #9c9391;
}

  .tail-stripe-one a {
    text-decoration: none;
    color: #241c1a;
  }

  .tail-stripe-one a:hover {
    color: #6e544e;
  }

.tail-stripe-two {
  background-color: #241c1a;
}

.tail-stripe-two a {
  text-decoration: none;
  color: #d9cdca;
}

.tail-stripe-two a:hover {
  color: #f2e7e4;
}

/*MAIN STYES*/
main {
  font-size: 1.75em;
}

h2 {
  text-align: center;
}

.home-text {
  margin: 15px 500px;
  padding: 0;
}

/*FOOTER STYLES*/
footer {
  background-color: #241c1a;
  box-shadow: 0 -4px 6px #241c1a;
  width: 100vw;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 15px 0;
}

footer ul li {
  list-style-type: none;
  font-size: 1.25em;
}

footer ul li a {
  text-decoration: none;
  color: #d9cdca;
}

footer ul li a:hover {
  color: #f2e7e4;
}

footer p {
  font-size: 1.25em;
  color: #d9cdca;
  text-align: center;
}

footer p a {
  color: #d9cdca;
}

footer p a:hover {
  color: #f2e7e4;
}

/*INTRODUCTION STYLES*/
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

figcaption {
  margin-top: 15px;
}

.intro {
  margin: 50px 500px 0 500px;
  padding: 0;
}

.intro li {
  margin-top: 20px;
}

/*COURSE CONTRACT STYLES*/
.contract {
  margin: 50px 450px;
}
